body {
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

#root > .container {
  max-height: unset !important;
  height: 100%;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  height: 100%;
  padding: 30px 0;
}